.bb{
    color: aqua;
    background-color: rgb(170, 150, 150);
    
    
}
.imagee{
    
    width: 180px; 
    border-radius: 10px;
}
.card{
  border-radius: 15px;
}
.containervv{
  margin-top: 20pxl;
}
.dd{
    color: #2b2a2a;
}

.ss{
    background-color: #efefef;
}